<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moneta</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header id="header">
        <div class="title">
            <button onclick="window.location.href='#hero'"><h1>Moneta</h1></button>
        </div>
		<nav class="nav-links">
            <a href="#features">Features</a>
            <a href="#about">About</a>
            <a href="#contact">Contact me</a>
        </nav>
        <div class="buttons">
            <a href="/login">Login</a>
        <a href="/register">Register</a>
        </div>
    </header>
    <div class="hero" id="hero">
        <div class="hero-background"></div>
        <div class="hero-content">
            <h1>Welcome to Moneta</h1>
            <p>Your simple and easy-to-use expense tracker</p>
            <button onclick="window.location.href='#main'">Learn More</button>
        </div>
    </div>
    <main>
        <section id="main">
            <div class="main-content">
                <div class="main-content-header">
                    <h2>Track your expenses and income</h2>
                    <p>Moneta is a simple and easy-to-use expense tracker that helps you manage your finances.
						It allows you to track your expenses and income, set budgets, and view detailed reports.
						With Moneta, you can take control of your finances and make better financial decisions.
						
					</p>
					<p>
						To get started, <a href="/register"> Sign up</a> for an account and start tracking your expenses and income today!
					</p>
                </div>
                <div class="main-content-image">
                    <img src="../static/images/investment.png" alt="Moneta">
                </div>
            </div>
        </section>
		<hr>
        <section id="about">
            <div class="about">
                <div class="about-content">
					<h2>About Moneta</h2>
					<p>
						The inspiration behind Moneta came from the need for a simple and easy-to-use expense tracker
						 that helps people manage their finances.
						 I Was inspired to create Moneta after struggling with Excel spreadsheets, word documents, and papers
						 to track my expenses and income. <br> <br>
						 I wanted to create a tool that would make it easy for people to track their finances and make better financial decisions.
						 as a result, Moneta was born.

						 I worked on Moneta alone, and it took me about 3 weeks
						 to design and develop the application. <br> <br> I used HTML, CSS, and JavaScript for the front-end,
						 and Python with Flask for the back-end.<br> I also used MySQl as the database.
						 I chose these technologies because I am familiar with them and have experience working with them.
						 I also wanted to keep the application simple and lightweight, so I avoided using complex frameworks and libraries.

					</p>
            </div>
			<div class="about-image">
				<img src="../static/images/online-donation.png" alt="About Moneta">
			</div>
	
			</section>
			<hr>
			<section id="features">
            <div class="features">
                <!-- Features Content -->
				 <div class="box">
					<h3>Track Expenses and Income</h3>
				 </div>
				 <div class="box">
					<h3>Set Categories to Track them</h3>
				 </div>
				 <div class="box">
					<h3>View Powerful Information</h3>
				 </div>
				 <div class="box">
					<h3>Flexability & Customization</h3>
				 </div>
				 <div class="box">
					<h3>Simple Dashboard & Console</h3>
				 </div>
            </div>
		</section>
		<hr>
		<section id="contact">
            <div class="Contact">
                <!-- Contact Content -->
				 <div class="contact-content">
					<h2>Contact Me</h2>
					<p>For any inquiries or questions regarding Moneta, feel free to contact me at:</p>
					<p>Email: information.mahmoud@gmail.com</p>
					<p>Phone: +201102575925</p>
					<p>Address: Giza, Egypt</p>						
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <span>Moneta &copy; 2024 • </span>
            <span> Made by: Mahmoud Malek with ❤️</span>
        </div>
    </footer>
    <script>
        window.onscroll = function() {
            var header = document.getElementById("header");
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        };
    </script>
</body>
</html>
