<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>transactions</title>
		<link re="stylesheet" href="../static/styles/transactions.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	</head>

	<body>
		 <nav class="sidebar">
        <div class="sidebar-header">
            <h2>Moneta</h2>
        </div>
        <ul class="sidebar-menu">
			<li class="#"><a href="#"><i class="fas fa-home"></i> Home</a></li>
            <li class="active"><a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li><a href="#"><i class="fas fa-wallet"></i> Transactions</a></li>
            <li><a href="#"><i class="fas fa-chart-line"></i> Categories</a></li>
            <li><a href="#"><i class="fas fa-user"></i> Profile</a></li>
        </ul>
    </nav>
    <div class="main">
        <header>
            <h1>Dashboard</h1>
            <div class="user-wrapper">
                <div>Welcome, {{ user.name }}</div>
            </div>
            <div class="logout-wrapper">
                <i class="fas fa-sign-out-alt"></i>
                <a href="/logout">Logout</a>	
            </div>
        </header>
        <main>
        </main>
    </div>
	<script src="../static/scripts/dashboard.js"></script>
	</body>
</html>