* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    width: 250px;
    color: white;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar-toggle {
	display: none;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: #1d1d1d;
    width: 100%;
}

.sidebar-menu {
    padding: 20px 0;
    list-style: none;
}

.sidebar-menu li {
    padding: 15px 20px;
}

.sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar-menu li i {
    margin-right: 10px;
}

.sidebar-menu li.active,
.sidebar-menu li:hover {
    background: #575757;
}

.main {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .user-wrapper {
    display: flex;
    align-items: center;
}

header .logout-wrapper {
    display: flex;
    align-items: center;
}

header .logout-wrapper a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.cards .card {
    background: white;
	flex:1;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card_icon {
    font-size: 2em;
    color: #2a2a2a;
    justify-self: flex-start;
    margin-right: 10px;
}

.cards .card h3 {
    margin: 0;
}

.cards .card p {
    font-size: 18px;
}

.charts {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.chart {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
    .main {
        padding: 10px;
    }

    .cards {
        gap: 5px;
    }

    .cards .card {
        padding: 10px;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .main {
        margin-left: 0;
        width: 100%;
    }

    .cards {
        flex-direction: column;
    }

    .sidebar-toggle {
        display: block;
        position: absolute;
        top: 0;
        left: 10px;
		margin-bottom: 5px;
        cursor: pointer;
        font-size: 1.5em;
        color: #2a2a2a;
    }

    .sidebar.show {
        transform: translateX(0);
    }



    header h1 {
        margin-left: 50px;
		margin-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .cards .card {
        flex-direction: column;
        align-items: flex-start;
    }
}
