* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    height: 100vh;
    width: 250px;
	transition: transform 0.5s ease;
	position: fixed;
    color: white;
	overflow-y: auto;
	z-index: 1000;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.sidebar-menu {
    padding: 20px 0;
    list-style: none;
}

.sidebar-menu li {
    padding: 15px 20px;
}

.sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar-menu li i {
    margin-right: 10px;
}

.sidebar-menu li.active,
.sidebar-menu li:hover {
    background: #575757;
}

.sidebar-toggle {
	display: none;
}


.main {
    padding: 20px;
    width: calc(100% - 250px);
    min-height: 100vh;
    background: #f4f4f4;
    margin-left: 250px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .user-wrapper {
    display: flex;
    justify-self: flex-end;
    justify-content: center;
}

.main .logout-wrapper a {
    text-decoration: none;
    color: black;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.profile-content h2 {
    margin-bottom: 20px;
}

.profile-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-info-item label {
    margin-right: 10px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 50%; 
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.edit-btn {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #010a02;
    color: white;
    border: none;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #45a049;
}

.save-btn {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #010a02;
    color: white;
    border: none;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #45a049;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.password-fields {
    display: none;
}

.delete-btn {
	margin-left: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #560000;
    color: white;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 800px) {
	.main {
		padding: 10px;
		width: 100%;
		margin-left: 0;
	}

	.sidebar {
		transform: translateX(-100%);
	}

	.sidebar-toggle {
		display: block;
		font-size: 1.5rem;
		color: #2a2a2a;
		cursor: pointer;
	}

	.sidebar.show {
		transform: translateX(0);
	}
	
	header {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	header div {
		margin: 0 10px;
	}

	.profile-info-item {
		flex-direction: column;
	}

	.profile-info-item input {
		margin-bottom: 10px;
	}


}