* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	flex-direction: row;
	min-width: 100vw;
	min-height: 100vh;
}

.sidebar {
	display: flex;
	flex-direction: column;
	background-color: #2a2a2a;
	min-height: 100vh;
	width: 250px;
	color: white;
	transition: transform 0.5s ease;
	position: fixed;
	z-index: 1000;
	
}

.sidebar-toggle {
	display: none;
}


.sidebar-header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
}

.sidebar-menu {
	padding: 20px 0;
	 list-style: none;
}

.sidebar-menu li {
    padding: 15px 20px;
}

.sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar-menu li i {
	margin-right: 10px;
}

.sidebar-menu li.active,
.sidebar-menu li:hover {
    background: #575757;
}

.main-content{
	padding: 20px;
	min-height: 100vh;
	width: calc(100% - 250px);
	background: #f4f4f4;
	margin-left: 250px;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.main .user-wrapper {
	display: flex;
	justify-self: flex-end;
	justify-content: center;
}

.logout-wrapper a{
	text-decoration: none;
	color: black
}

.transactions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.transactions-header button {
    background-color: #2a2a2a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.transactions-header .filter-sort {
    display: flex;
    align-items: center;
}

.transactions-header input,
.transactions-header select {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.transactions-list {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
}

.transaction-item:last-child {
    border-bottom: none;
}

.transaction-item .transaction-info {
    display: flex;
    flex-direction: column;
	width: 50%;
}

.transaction-item .transaction-info span {
    margin: 2px 0;
}

.transaction-amount {
    font-weight: 700;
	width: 20%;
}

.transaction-amount.income {
    color: green;
}

.transaction-amount.expense {
    color: red;
}

.transaction-item .transaction-info span p {
	display: contents;
	color: rgb(66, 17, 165);
}

/* Modal styles */
.model {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.model-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form label {
    display: block;
    margin-top: 10px;
}

form input,
form select,
form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #2a2a2a;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.pagination button {
	background-color: #2a2a2a;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 10px;
}

/* Edit and Delete buttons */
.edit-transaction{
	justify-self: flex-end;
	
}

.delete-transaction {
	justify-self: flex-end;
}

.delete-transaction button,
.edit-transaction button {
background-color: rgb(117, 114, 123);;
	color: white;
	border-radius: 5px;
	border: 0;
	padding: 5px 10px;
	cursor: pointer;
	margin: 0px 20px;
}

@media screen and (max-width: 800px){
	.sidebar {
		 transform: translateY(-100%);
	}

	header {
		flex-wrap: wrap;
	}
	header div {
		margin: 10px;
	}
	.main-content {
		margin-left: 0;
		width: 100%;
	}

	.transactions-header {
		flex-direction: column;
	}

	.transactions-header div {
		margin: 10px;
	}

	.sidebar-toggle {
		display: block;
		margin-bottom: 5px;
		cursor: pointer;
		font-size: 1.5em;
		color: #2a2a2a;
	}

	.sidebar.show {
		transform: translateY(0);
	}

	.transaction-item {
		flex-direction: column;
		align-items: center;
	}

	.transaction-item .transaction-info {
		width: 100%;
	}

	.transaction-amount {
		width: 100%;
	}

	.transaction-item button {
		margin-top: 10px;

	}
}